In [8]:
import pandas as pd
import numpy as np

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from datetime import datetime

In [42]:
df_raw = pd.read_csv("/home/piai/aibd/bd_project/data/df_raw.csv", encoding='euc-kr', index_col=0, low_memory=False)
df_raw.head()

,lot_id,tray_id,dt_start,cell_id,rta1_tat,hta1_tat,rta2_tat,ocv1_tat,c1_tat,dc1_tat,...,sa3_box_row,sa3_box_dan,socv3_ocv,ocv2_deltaocv,ocv1_deltaocv,m1_thick,m1_voltage,m1_res_ac,m1_mv,m1_voltage_an
0,LOT-100,TRAY-1023,12-01-2021 오전 10:01:25,CELL-10747,217066,86461,5732,119,3556,404,...,37연,04단,3759.3,5,6.8,4718,37583,94,565,164
1,LOT-100,TRAY-1023,12-01-2021 오전 10:01:25,CELL-10748,217066,86461,5732,119,3556,404,...,37연,04단,3758.4,5,6.8,4718,37574,94,565,73
2,LOT-100,TRAY-1023,12-01-2021 오전 10:01:25,CELL-10749,217066,86461,5732,118,3556,405,...,37연,04단,3759,5.1,6.9,4700,37579,91,585,-57
3,LOT-100,TRAY-1023,12-01-2021 오전 10:01:25,CELL-10750,217066,86461,5732,118,3556,405,...,37연,04단,3759.5,5.1,6.9,4688,37583,93,606,99
4,LOT-100,TRAY-1023,12-01-2021 오전 10:01:25,CELL-10751,217066,86461,5732,119,3556,404,...,37연,04단,3758.2,5,6.8,4696,37570,91,605,36

# 출하 전 동일한 장소에서 진행하는 작업BOX_열/단 병합

In [44]:
df_diff = pd.concat([df_raw['ocv1_box_col'], df_raw['c1_box_col']], axis=1)
df_diff

      ocv1_box_col c1_box_col
0              22열        22열
1              22열        22열
2              22열        22열
3              22열        22열
4              22열        22열
...            ...        ...
43749          02열        02열
43750          02열        02열
43751          02열        02열
43752          02열        02열
43753          02열        02열

[43754 rows x 2 columns]

In [28]:
df_raw['ocv1_box_col'].equals(df_raw['ocv2_box_col'])

True

In [45]:
len(df_raw.columns)

130

In [46]:
df_raw = df_raw.drop(['c1_box_col', 'dc1_box_col', 'c2_box_col', 'dc2_box_col', 'c3_box_col', \
                      'dc3_box_col', 'c4_box_col', 'ocv2_box_col', \
                      'c1_box_dan', 'dc1_box_dan', 'c2_box_dan', 'dc2_box_dan', 'c3_box_dan', \
                      'dc3_box_dan', 'c4_box_dan', 'ocv2_box_dan'], axis=1)

In [47]:
df_raw = df_raw.rename(columns = {'ocv1_box_col':'box_col', 'ocv1_box_dan':'box_dan'})

In [48]:
len(df_raw.columns)

114

In [49]:
df_raw.to_csv("/home/piai/aibd/bd_project/data/df_bat.csv", encoding='euc-kr')